/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

/* ****************************** grid ****************************** */

body, .grid, .navigation-item {
  display: grid;
}

body {
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  grid-row: 1 / span 2;
}

.logo-and-dashboard-name, .navigation-item {
  grid-auto-flow: column;
  justify-content: start;
}

/* ****************************** sections ****************************** */

.logo {
  height: 75px;
  width: 75px;
  border: 1px solid black;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.navigation-item-icon {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}
