/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

:root {
  --shared-blue: #1992d4;
  --focused-blue: #0982c4;
  --shadow-blue: #0062a4;
  --shared-gray: #e2e8f0;
  --shadow-gray: rgb(205, 210, 215);
}

/* ****************************** shared grid rules ****************************** */

body, .grid, .navigation-item, .profile-picture-container, .project, .project-icons, .announcement, .trending-item {
  display: grid;
}

body {
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.column, .navigation-item, .project-icons {
  grid-auto-flow: column;
}

.logo-and-dashboard-name, .navigation-item, .search-section, .greeting-section, .trending-item {
  justify-content: start;
}

.profile-picture-container {
  justify-items: center;
  align-items: center;
}

/* ****************************** sidebar grids ****************************** */

.sidebar, .navigation, .navigation ul {
  align-content: start;
}

.sidebar {
  grid-row: 1 / span 2;
  gap: 60px;
}

.logo {
  width: 36px;
  height: 36px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 12px 4px 12px;
  gap: 4px;
}

.logo-rectangle:nth-child(1) {
  grid-row: 1 / span 2;
}

.logo-rectangle:nth-child(4) {
  grid-column: 2;
  grid-row: 2 / span 2;
}

.navigation {
  gap: 75px;
}

.navigation ul {
  gap: 30px;
}

.navigation-item {
  align-items: center;
}

/* ****************************** header grids ****************************** */

.header {
  padding: 20px 60px 15px 45px;
  gap: 30px;
}

@media (max-width: 953px) {
  .header {
    padding: 20px 30px 15px 20px;
  }
}

/* 25px search icon + 10px gap + 200px search bar; */
.header-top {
  grid-template-columns: minmax(235px, 1fr) auto;
  gap: 30px;
}

.header-bottom {
  grid-template-columns: 1fr auto;
  gap: 30px;
}

.header-top > div, .header-bottom > div {
  align-items: center;
}

.search-section {
  grid-template-columns: auto 1fr;
  gap: 20px;
}

@media (max-width: 953px) {
  .search-section {
    gap: 10px;
  }
}

.user-section {
  gap: 30px;
}

@media (max-width: 953px) {
  .user-section {
    gap: 20px;
  }
}

.greeting-section {
  gap: 20px;
}

.button-section {
  gap: 30px;
}

@media (max-width: 953px) {
  .button-section {
    grid-auto-flow: row;
    gap: 10px;
    justify-items: end;
  }
}

/* ****************************** main-content grids ****************************** */

.main-content {
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  padding: 35px 30px 65px 20px;
}

@media (max-width: 953px) {
  .main-content {
    grid-template-rows: auto 1fr;
    align-items: start;
  }
}

.projects-section {
  grid-row: 1 / span 2;
}

.projects-section, .announcements-section, .trending-section {
  grid-template-rows: auto 1fr;
}

.projects {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 25px;
  row-gap: 30px;
}

@media (max-width: 953px) {
  .projects {
    grid-template-columns: auto;
  }
}

.project {
  grid-template-rows: auto 1fr auto;
}

.project-icons {
  justify-content: end;
  gap: 30px;
  align-items: center;
}

.announcement {
  align-content: center;
}

.trending-items {
  gap: 25px;
}

.trending-item {
  grid-template-columns: repeat(2, auto);
  align-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 5px;
}

.trending-item .profile-picture-container {
  grid-row: 1 / span 2;
  align-self: center;
}

.trending-item p:nth-of-type(1) {
  align-self: end;
}

.trending-item p:nth-of-type(2) {
  align-self: start;
}

/* ****************************** shared rules ****************************** */

.sidebar, .button-section button {
  background-color: var(--shared-blue);
  color: white;
}

.navigation, .name, .greeting, .button-section button {
  font-weight: bold;
}

.profile-picture-container {
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  object-fit: contain;
  max-height: 80%;
  max-width: 80%;
}

/* ****************************** sidebar ****************************** */

.sidebar {
  padding: 30px 25px;
}

.logo-and-dashboard-name {
  gap: 20px;
}

.logo-rectangle {
  background-color: white;
}

.dashboard-name {
  font-size: 28px;
}

.navigation {
  font-size: 22px;
  padding-left: 5px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.navigation-item {
  gap: 25px;
}

.navigation-item-icon {
  width: 25px;
  height: 25px;
}

/* ****************************** header ****************************** */

.search-icon {
  width: 25px;
  height: 25px;
}

.search-icon:active {
  transform: scale(0.9);
}

.search-bar {
  height: 30px;
  background-color: var(--shared-gray);
  border-radius: 13px;
  width: max(200px, 90%);
}

.alerts {
  width: 25px;
  height: 25px;
}

.user-section .profile-picture-container {
  width: 50px;
  height: 50px;
}

.name {
  font-size: 18px;
  text-align: center;
}

.greeting-section .profile-picture-container {
  width: 75px;
  height: 75px;
}

.greeting-text {
  font-size: 14px;
}

.name-and-username {
  font-size: 24px;
}

.button-section button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: 1px solid var(--shared-blue);
  border-radius: 19px;
}

.button-section button:active {
  background-color: var(--focused-blue);
  border: 1px solid var(--focused-blue);
  box-shadow: inset 0px 0px 5px var(--shadow-blue);
}

/* ****************************** main-content ****************************** */

.main-content {
  background-color: var(--shared-gray);
  box-shadow: inset 0px 5px 3px var(--shadow-gray);
}

.main-content h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.project, .announcements, .trending-items {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 4px 2px var(--shadow-gray);
}

.project p, .announcement p, .trending-item p:not(:first-of-type) {
  color: rgb(99, 99, 99);
}

.project {
  padding: 20px 20px 30px 20px;
  border-left: 8px solid #f0b429;
}

.project h3 {
  font-size: 18px;
}

.project-icons {
  margin-top: 15px;
  margin-right: 15px;
}

.favourite-project, .watch-project, .share-project {
  width: 25px;
  height: 25px;
}

.favourite-project:active, .watch-project:active, .share-project:active {
  transform: scale(0.92);
}

.announcements {
  padding: 25px;
}

.announcement {
  padding: 10px 5px;
}

.announcement:not(:first-child) {
  border-top: 1px solid rgb(210, 210, 210);
}

.announcement h4 {
  font-size: 14px;
}

.announcement p {
  font-size: 12px;
}

.trending-items {
  padding: 20px 25px 25px 25px;
}

.trending-item .profile-picture-container {
  width: 50px;
  height: 50px;
}

.trending-item p {
  font-size: 14px;
}
