/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

/* ****************************** grid ****************************** */

body, .grid, .navigation-item {
  display: grid;
}

body {
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  grid-row: 1 / span 2;
}

.column, .navigation-item {
  grid-auto-flow: column;
  justify-content: start;
}

.header {
  grid-template-columns: 2fr 1fr;
}

/* ****************************** sections ****************************** */

.placeholder-border, .navigation-item-icon {
  border: 1px solid black;
}

.logo {
  width: 75px;
  height: 75px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.navigation-item-icon {
  width: 25px;
  height: 25px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.search-box {
  width: 900px;
  height: 30px;
}
